/* ========================== RESET ============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}
/* ========================== VARIABLES ================================*/

:root{
    /*Height base*/
    --header-height: 4.5rem; 
    /*Cor BASE*/
    --hue: 230;
    /* HSL color mod */
    --base-color: hsl(var(--hue) 36% 50%);
    --base-color-secondary: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
    /*fonts*/
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1.125rem;
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
    /*1200*/

}
/* ========================== BASE ============================*/
html {
    scroll-behavior: smooth;
}
body {
    font: 400 1rem var(--body-font);
    background: var(--body-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}
.button{
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
}
.button:hover{
    background-color: var(--base-color-alt);
}
.divider-1{
    height:1px;
    background: linear-gradient(
        270deg,
        hsla(var(--hue), 36%, 57%, 1),
        hsla(var(--hue), 65%, 88%, 0.34)
    );
}
.divider-2{
    height:1px;
    background: linear-gradient(
        270deg,
        hsla(var(--hue), 65%, 88%, 0.34),
        hsla(var(--hue), 36%, 57%, 1)
    );
}
/* ========================== LOGO ============================*/

.logo{
    font: 700 1.31rem var(--title-font);
    color: var(--title-color);
}.logo span{
    color: var(--base-color);
}
.logo-alt span{
    color: var(--body-color);
}
/* ========================== NAVIGATOR ============================*/
nav{
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav ul li{
    text-align: center;
}
nav ul li a{
    transition: color 0.2s;
    position: relative;
}
nav ul li a:hover,
nav ul li a.active{
    color: var(--base-color);
    font-weight: bold;
    -webkit-font-smoothing: auto;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--base-color);

    position:absolute;
    left: 0;
    bottom: -1.5rem;

    transition: width 0.2s;
}
nav ul li a:hover::after,
nav ul li a.active::after{
    width: 100%;
}
nav .menu{
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}
nav .menu ul{
    display: none;
}
/* ========= SHOW MENU =========*/ 
nav.show .menu{
    opacity: 1;
    visibility: visible;
    
    background: var(--body-color);
    
    height: 100vh;
    width: 100vw;
    
    position: fixed;
    top: 0;
    left: 0;
    
    display: grid;
    place-content: center;
}
nav.show .menu ul{
    display: grid;
}
nav.show ul.grid{
    gap:4rem;
}
/* ========= TOGGLE =========*/ 
.toggle{
    color: var(--base-color);
    font-size:1.5rem;
    cursor: pointer;
}
nav .icon-close {
    visibility: hidden;
    opacity: 0;

    position: absolute; 
    top: -1.5rem;
    right: 2rem;

    transition: 0.2s;
}

nav.show div.icon-close{
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
}
/* ========================== LAYOUT ============================*/
.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.grid{
    display: grid;
    gap: 2rem;
}
.section{
    padding: calc( 5rem + var(--header-height)) 0;
}
.section .title{
    margin-bottom: 1rem;
}
.section .subtitle{
    font-size: var(--subtitle-font-size)
}
.section header{
    margin-bottom:4rem;
}

#header{
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display:flex;

    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background:var(--body-color)
}
#header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
main{
    margin-top: calc(var(--header-height) + 2rem);
}
/* ========================== LAYOUT ============================*/
#home{    
    overflow: hidden;
}
#home .container{
    margin: 0;
}
#home .image{
    position: relative;
}
#home .image::before{
    content: '';
    height:100%;
    width:100%;
    background: var(--base-color-secondary);
    position: absolute;
    top: -16.7%;
    left: 16.7%;
    z-index: 0;
}
#home .image img{
    position: relative;
    right: 2.93rem;
}
#home .image img, 
#home .image::before{
    border-radius:0.5rem
}
#home .text{
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
    justify-content: center;
}
#home .text h1{
    margin-bottom: 1rem;
}
#home .text p{
    margin-bottom: 2rem;
    max-width: 100%;
}

/* ========================= ABOUT ===========================*/
#about{
    background:white;
}
#about .container{
    margin: 0;
}
#about .image{
    position: relative;
}
#about .image::before{
    content: '';
    height:100%;
    width:100%;
    background: var(--base-color-secondary);
    position: absolute;
    top: -8.3%;
    left: -33%;
    z-index: 0;
}
#about .image img{
    position: relative
}
#about .image img, 
#about .image::before{
    border-radius:0.5rem
}
#about .text{
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    justify-content: center;
}
/* ========================== SERVICES ============================*/
.cards.grid{
    gap: 1.5rem;
}
.card{
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.08);
    border-bottom: 00.25rem solid var(--base-color);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
}
.card:hover{
    box-shadow: 0px 0px 12px var(--base-color);
}
.card i{
    display: block;
    border-bottom: 1.5rem;
    font-size: 5rem;
    color: var(--base-color)
}
.card .title{
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}
/* ========================== TESTIMONIALS ============================*/
#testimonials{
    background:white;
}
#testimonials header {
    margin-bottom: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#testimonials .container{
    margin-left: auto;
    margin-right: auto;
}
#testimonials blockquote{
    padding:2rem;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.08);
    border-bottom: 00.25rem solid var(--base-color);
}
#testimonials blockquote p{
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: var(--title-color)
}
#testimonials cite{
    display: flex;
    align-items: center;
    font-style: normal;
}
#testimonials blockquote p span{
    font: 700 3rem serif;
    position: absolute;
    top: -0.5rem;
    left: -1.8rem;
    color:var(--base-color)
}
#testimonials cite img{
    width:2rem;
    height:2rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
}
/* ========= SWIPER =========*/
.swiper-slide{
    height:auto;
    padding: 4rem 1rem
}
.swiper-pagination.bullet{
    width: 0.75rem;
    height: 0.75rem;
}
.swiper-pagination.bullet.active{
    background: var(--base-color)
}
/* ========================== CONTACT ============================*/
#contact .grid{
    gap: 4rem;
}
#contact .text p {
    margin-bottom: 4rem;
}
#contact .button i, 
#contact ul li i{
    font-size: 1.5rem;
    margin-right: 0.625rem;
}
#contact ul.grid{
    gap: 2rem;
}
#contact ul li{
    display: flex;
    align-items: center;
}
#contact ul li i{
    color: var(--base-color)
}
/* ========================== FOOTER ============================*/
footer{
    background: var(--base-color);
}
footer .logo{
    display: block;
    margin-bottom: 1.5rem;
}
footer .brand{
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
}
footer i{
    color: var(--text-color-light);
    font-size: 1.5rem;
}
footer.section{
    padding: 4rem 0;
}
footer .social{
    grid-auto-flow: column;
    width: fit-content
}
footer .social a{
    /*grid-auto-flow: column;*/
    margin-right: 2rem;
    transition: 0.2s;
    display:inline-block;
}
footer .social a:hover{
    transform: translateY(-8px);
}
.back-to-top{
    background: var(--base-color);
    color: var(--text-color-light);
    
    position:fixed;
    right: 1rem;
    bottom: 1rem;  

    padding: 0.4rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateY(100%);
}
.back-to-top.show{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
/*----------------------------- RESPONSIVIDADE -------------------------*/
@media (min-width: 1024px){
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
    /*=== REUSABLE CLASSES ===*/
    main {
        margin-top: var(--header-height)
    }
    .container{
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    .section{
        padding: 10rem 0;
    }
    .section header,
    #testimonials header{
        max-width:32rem;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .button {
        height: 3.125rem;
    }
    /* ==== NAVIGATOR ==== */
    nav .menu{
        opacity: 1;
        visibility: visible;
        top: 0;
    }
    nav .menu ul{
        display: flex;
        gap: 2rem;
    }
    nav .menu ul li a.title{
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }
    nav .menu ul li a.title.active{
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }
    nav .icon-menu{
        display: none;
    }
    /* ==== HOME ==== */
    #home .container{
        grid-auto-flow: column; 
        justify-content: space-between; 
        margin: 0 auto;
    }
    #home .image{
        order: 1;
        width: 500px;
    }
    #home .text{
        order: 0;
        max-width:25rem;
        text-align: left;
    }
    /* ==== ABOUT ==== */
    #about .container{
        margin: 0 auto;
        grid-auto-flow: column;
    }
    /* ==== SERVICES ==== */
    .cards{
        grid-template-columns: 2fr 2fr 2fr;
    }
    .card{
        padding-right: 3rem;
        padding-left: 3rem
    }
    /* ==== TESTINONIALS ==== */
    #testimonials .container{
        margin-left: auto;
        margin-right: auto;
    }
    /* ==== CONTACT ==== */
    #contact .container{
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-around
    }
    #contact .text{
        max-width: 25rem;
    }
    /* ==== FOOTER ==== */
    footer .section{
        padding-top: 3.75rem 0;
    }
    footer .container{
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    footer .logo{
        font-size: 2.25rem;
    }
}

@media (min-width: 992px){
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
}
